.App {
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
}

.navbar {
  color: white;
}

/* Centered text */
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #16A2B8;
} */


.signinform {
  border: solid 1px black ;
  border-radius: 10%;
  padding: 20px;
  min-width: 200px;
  max-width: 50vw;
  background-color: white;
}

.signincol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.nav-link {
  /* margin: '10px'; */
  color: white;

}
.nav-link:hover {
  color: white
}

.cardstyle {
    width: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.cardrow {
  justify-content: center;
}

.card-image-container {
  width: 100%;
}

.list-group {
  max-height: 300px;
  overflow-y:scroll;
}

